<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Responsive Sidebar Menu</title>
        <!-- Linking Google Font link for icons-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="accManagement.component.scss">
    </head>
    <body>
      <h1 mat-dialog-title style="margin-bottom: -50px; color: blueviolet;"><b>Role Management</b></h1>
      <div mat-dialog-title>
        <div class="slider-container">
          <button
            [class.active]="currentView === 'addRole'"
            (click)="switchView('addRole')">
            Add Role
          </button>
          <button
            [class.active]="currentView === 'updateRole'"
            (click)="switchView('updateRole')">
            Update Role
          </button>
          <div class="slider" [class.add-role]="currentView === 'addRole'" [class.update-role]="currentView === 'updateRole'"></div>
        </div>
      </div>

        <div mat-dialog-content>
          <!-- Add Role Form -->
          <div *ngIf="currentView === 'addRole'">
            <mat-horizontal-stepper orientation="vertical" [linear]="true" #stepper>          
              <ng-template matStepperIcon="edit" let-index="index" style="width: 100px;">
                {{ index + 1 }} <!-- Always show numbers instead of a checkmark -->
              </ng-template>
              <!-- Permissions for pages access -->
              <form [formGroup]="rolePermissionsForm">
                <mat-step [label]="'Role Title'" [stepControl]="rolePermissionsForm.get('create_role')!">
                  <h3>Role title:</h3>
    
                  <mat-form-field appearance="outline">
                    <input matInput formControlName="create_role" required>
                  </mat-form-field>
    
                  <div>
                    <button mat-button matStepperNext [disabled]="rolePermissionsForm.get('create_role')!.invalid">Next</button>
                  </div>
              </mat-step>
    
                <span *ngFor="let page of pages">
                  <mat-step [stepControl]="rolePermissionsForm.get(page.title)!" [label]="page.title">
                    
                      <h3>Permissions for {{ page.title }}</h3>
                      <mat-radio-group [formControlName]="page.title" style="display: flex; flex-direction: column;">
                        <mat-radio-button [value]="removeSpaces(action.toLowerCase())" *ngFor="let action of pages_actions">{{ action }}</mat-radio-button>
                      </mat-radio-group>
                
                      <div>
                        <button mat-button matStepperNext [disabled]="rolePermissionsForm.get(page.title)!.invalid">Next</button>
                      </div>
                    
                  </mat-step>
                </span>
    
                <!-- Permissions for functions access -->
                <span *ngFor="let function of functions">
                  <mat-step [stepControl]="rolePermissionsForm.get(function.title)!" [label]="function.title">
                      <h3>Permissions for {{ function.title }}</h3>
                      <mat-radio-group [formControlName]="function.title" style="display: flex; flex-direction: column;">
                        <mat-radio-button [value]="underscoreSpaces(action.toLowerCase())" *ngFor="let action of functions_actions">{{ action }}</mat-radio-button>
                      </mat-radio-group>
                
                      <div>
                        <button mat-button matStepperNext [disabled]="rolePermissionsForm.get(function.title)!.invalid">Next</button>
                      </div>
                  </mat-step>    
                </span>

                <!-- Reporting To -->
                <span>
                  <mat-step [stepControl]="rolePermissionsForm.get('reports_to')!" [label]="'Reports To'">
                      <h3>This role will report to:</h3>
                      <mat-checkbox *ngFor="let item of distinctRoles" (change)="onCheckboxChangeCreateRole($event, item)"
                        style="display: flex; flex-direction: column;">
                        {{ item }}
                      </mat-checkbox>
                
                      <div>
                        <button mat-button matStepperNext [disabled]="rolePermissionsForm.get('reports_to')!.invalid">Next</button>
                      </div>
                  </mat-step>    
                </span> 

              </form>
                            
              <!-- Step 3 -->
              <mat-step [label]="'Submission'">           
                <h3>Confirmation</h3>
                <p>Review the details before submitting.</p>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="rolePermissionsForm.valid && createRole()" [disabled]="!rolePermissionsForm.valid">
                  <span *ngIf="!submit">Add Role</span>
                  <span *ngIf="submit">
                  Adding...</span>
                </button>
                
              </mat-step>
            </mat-horizontal-stepper>
          </div>

          <!-- Update Role Form -->
          <div *ngIf="currentView === 'updateRole'">
            <mat-horizontal-stepper orientation="vertical" [linear]="true" #stepper>          
              <ng-template matStepperIcon="edit" let-index="index" style="width: 100px;">
                {{ index + 1 }} <!-- Always show numbers instead of a checkmark -->
              </ng-template>
              <!-- Permissions for pages access -->
              <form [formGroup]="updateRoleForm">
                <mat-step [label]="'Role Title'" [stepControl]="updateRoleForm.get('update_role')!">
                  <h3>Select available Role title:</h3>
    
                  <mat-form-field appearance="outline">
                    <mat-select (selectionChange)="onRoleChange($event)" formControlName="update_role">
                        <mat-option *ngFor="let role of distinctRoles" [value]="role">{{ role }}</mat-option>
                    </mat-select>
                  </mat-form-field>
    
                  <div>
                    <button mat-button matStepperNext [disabled]="updateRoleForm.get('update_role')!.invalid">Next</button>
                  </div>
                </mat-step>
    
                <span *ngFor="let page of pages">
                  <mat-step [stepControl]="updateRoleForm.get(getControlName(page.title))!" [label]="page.title">
                    
                      <h3>Permissions for {{ page.title }}</h3>
                      <mat-radio-group [formControlName]="getControlName(page.title)" style="display: flex; flex-direction: column;">
                        <mat-radio-button [value]="removeSpaces(action.toLowerCase())" *ngFor="let action of pages_actions">
                          {{ action }}
                        </mat-radio-button>
                      </mat-radio-group>
                
                      <div>
                        <button mat-button matStepperNext [disabled]="updateRoleForm.get(getControlName(page.title))!.invalid">Next</button>
                      </div>
                    
                  </mat-step>
                </span>
    
                <!-- Permissions for functions access -->
                <span *ngFor="let function of functions">
                  <mat-step [stepControl]="updateRoleForm.get(getControlName(function.title))!" [label]="function.title">
                      <h3>Permissions for {{ function.title }}</h3>
                      <mat-radio-group [formControlName]="getControlName(function.title)" style="display: flex; flex-direction: column;">
                        <mat-radio-button [value]="underscoreSpaces(action.toLowerCase())" *ngFor="let action of functions_actions"
                          [checked]="isChecked(function.title, action)" >
                          {{ action }}
                        </mat-radio-button>
                      </mat-radio-group>
                
                      <div>
                        <button mat-button matStepperNext [disabled]="updateRoleForm.get(getControlName(function.title))!.invalid">Next</button>
                      </div>
                  </mat-step>    
                </span>

                <!-- Reporting To -->
                <span>
                  <mat-step [stepControl]="updateRoleForm.get('reports_to')!" [label]="'Reports To'">
                      <h3>This role will report to:</h3>
                      <mat-checkbox *ngFor="let item of distinctRoles" (change)="onCheckboxChangeUpdateRole($event, item)"
                        [checked]="isReportingRoleChecked(item)" style="display: flex; flex-direction: column;">
                        {{ item }}
                      </mat-checkbox>
                
                      <div>
                        <button mat-button matStepperNext [disabled]="updateRoleForm.get('reports_to')!.invalid">Next</button>
                      </div>
                  </mat-step>    
                </span>

              </form>
                            
              <!-- Step 3 -->
              <mat-step [label]="'Submission'">           
                <h3>Confirmation</h3>
                <p>Review the details before submitting.</p>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="updateRoleForm.valid && updateRole()" [disabled]="!updateRoleForm.valid">
                  <span *ngIf="!submit">Update Role</span>
                  <span *ngIf="submit">
                  Updating...</span>
                </button>                
              </mat-step>
            </mat-horizontal-stepper>
          </div>
        </div>



            <!--<form [formGroup]="updateRoleForm" style="gap: 10px;">
              <div class="dropdown" style="margin-top: -35px;">
                <label for="role">Role:</label>
                <select type="text" id="role" name="role" [(ngModel)]="selectedRole" formControlName="update_role"
                  (change)="onRoleChange($event)">
                  <option value="" disabled style="background-color: gray">Select available role</option>
                  <option *ngFor="let item of distinctRoles" [value]="item">{{ item }}</option>
                </select>
              </div>


              <h3 style="margin-bottom: -3px; margin-top: -16px; color: blueviolet; align-self: center;">Permissions of the role</h3>

              <span *ngFor="let page of pages">
                <span>
                  <mat-accordion>
                    <mat-expansion-panel #dropdown4 style="width: 800px;" (opened)="onPanelOpened(dropdown4)">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <div fxLayout="row" fxLayoutAlign="space-between center" > 
                            {{ page.title }}
                          </div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <span *ngFor="let action of pages_actions">
                        <mat-list-item>
                          <div fxLayout="row" fxLayoutAlign="space-between center" style="display: flex; flex-direction: column;"> 
                            <label class="container">
                              {{ action }}
                              <input type="checkbox" [formControlName]="getControlName(page.title, action)"
                              [checked]="isChecked(page.title, action)">
                              <span class="checkmark"></span>
                            </label>
                          </div>
                        </mat-list-item>
                      </span>
                    </mat-expansion-panel>
                  </mat-accordion>
                </span>          
              </span>

              <span *ngFor="let function of functions">
                <span>
                  <mat-accordion>
                    <mat-expansion-panel #dropdown5 style="width: 800px;" (opened)="onPanelOpened(dropdown5)">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <div fxLayout="row" fxLayoutAlign="space-between center" > 
                            {{ function.title }}
                          </div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <span *ngFor="let action of functions_actions">
                        <mat-list-item>
                          <div fxLayout="row" fxLayoutAlign="space-between center" style="display: flex; flex-direction: column;"> 
                            <label class="container">
                              {{ action }}
                              <input type="checkbox" [formControlName]="getControlName(function.title, action)"
                              [checked]="isChecked(function.title, action)">
                              <span class="checkmark"></span>
                            </label>      
                          </div>
                        </mat-list-item>
                      </span>
                    </mat-expansion-panel>
                  </mat-accordion>
                </span>          
              </span>

              <h3 style="margin-bottom: -3px; margin-top: 0px; color: blueviolet; align-self: center;">Reporting</h3>
              <span>
                <span>
                  <mat-accordion>
                    <mat-expansion-panel #dropdown6 style="width: 800px;" (opened)="onPanelOpened(dropdown6)">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <div fxLayout="row" fxLayoutAlign="space-between center" > 
                            Reports To
                          </div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <span *ngFor="let item of distinctRoles">
                        <mat-list-item>
                          <div fxLayout="row" fxLayoutAlign="space-between center" style="display: flex; flex-direction: column;"> 
                            <label class="container">
                              {{ item }}
                              <input type="checkbox" (change)="onCheckboxChangeUpdateRole($event, item)"
                              [checked]="isReportingRoleChecked(item)">
                              <span class="checkmark"></span>
                            </label>
                          </div>
                        </mat-list-item>
                      </span>
                    </mat-expansion-panel>
                  </mat-accordion>
                </span>          
              </span>                          
            </form>-->            
          

        <!--<div mat-dialog-actions class="item" *ngIf="currentView === 'addRole'">
          <span *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </span>
          <div class="button-container">
            <button type="button" mat-dialog-close>Cancel</button>
            <button type="button" (click)="rolePermissionsForm.valid && createRole()" [disabled]="!rolePermissionsForm.valid">
              <span *ngIf="!submit">Add Role</span>
              <span *ngIf="submit">
              Adding...</span>
            </button>
          </div>
        </div>

        <div mat-dialog-actions class="item" *ngIf="currentView === 'updateRole'">
          <div class="button-container">
            <button type="button" mat-dialog-close>Cancel</button>
            <button type="button" (click)="updateRoleForm.valid && updateRole()" [disabled]="!updateRoleForm.valid">
              <span *ngIf="!submit">Update Role</span>
              <span *ngIf="submit">
              Updating...</span>
            </button>
          </div>          
        </div> -->
        
        
    </body>
</html>