<div class="navbar">
    <div class="navbar-brand">
        <img src="assets/ntu_logo.png" alt="NTU Logo" style="width:280px;height:128px;" /> 
        <h1> 
            NTU Student Lab Attendance Portal
        </h1>
    </div>
    <div class="navbar-links">  
        <p style="margin-top:-30%" >
            Academic Year: 
            <span name="academicYear">{{ getCurrentAcadYear() }}</span>
        </p>
        <p style="margin-top:-4%">
            Date:
            <span name="currentDate">{{ date | date: 'dd/MM/yyyy, h:mm a'}}</span>
        </p>
        <!-- Add other relevant information -->
    </div>
</div>
  <div class="input-container">
    <form [formGroup]="profileForm" class="form">
      <p>
      <label for="username">
        Username:
        <input type="username" formControlName="username" name="username" />
      </label>
      <label for="password">
        Password:
        <input type="password" formControlName="password" name="password" />
      </label>
      <span>
        <div class="item">
          <!-- <span *ngIf="loading"><img src="assets/spinner.gif" /></span> -->
          <button type="button" (click)="login()" class="collapsible" [disabled]="loading">
            <span *ngIf="!loading">Log In</span>
            <span *ngIf="loading">
              Logging in...</span>
          </button>
        </div>
      </span>
      <span *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </span> 
      <span>
        <p (click)="forgetPass()" class="forgot_pass">
          <u>Forget Password</u>
        </p>
      </span>
      </p>
    </form>
  </div>

  <!--[disabled]="!profileForm.valid"-->