<div class="navbar">
    <div class="navbar-brand">
        <img src="assets/ntu_logo.png" alt="NTU Logo" style="width:280px;height:128px;" /> 
        <h1> 
            NTU Student Lab Attendance Portal
        </h1>
    </div>
    <div class="navbar-links">  
        <p style="margin-top:-30%" >
            Academic Year: 
            <span name="academicYear">{{ getCurrentAcadYear() }}</span>
        </p>
        <p style="margin-top:-4%">
            Date:
            <span name="currentDate">{{ date | date: 'dd/MM/yyyy, h:mm a'}}</span>
        </p>
        <!-- Add other relevant information -->
    </div>
  </div>
  <div class="input-container">
    <form [formGroup]="profileForm" class="form">
      <p>
      <label for="fullName">
        Full Name:
        <input type="name" formControlName="fullName" name="fullName" />
      </label>
      <label for="type">
        
          Domain:
          <select name="type" formControlName="type">
            <option value="">-- Select User Type --</option>
            <option value="Lab_Executive">Lab Executive</option>
            <option value="Professor_Lecturer">Professor/Lecturer</option>
            <option value="school_admin">School Admin</option>
          </select>
        
      </label>
      <label for="email">
        Email:
        <input type="email" formControlName="email" name="email" />
      </label>
      <label for="password">
        Password:
        <input type="password" formControlName="password" name="password" />
      </label>
      <label for="password_again">
        Confirm Password:
        <input type="password" formControlName="password_again" name="password_again" />
      </label>
        <span>
          <div>
            <button type="button" (click)="navigateToLogin()" class="collapsible" [disabled]="!profileForm.valid">Sign Up</button>
          </div>
        </span>
      </p>
    </form>
  </div>