body {
    margin-left: 10%;
}

.dashboard-card {
    padding: 2rem;
    margin-bottom: 1.25rem;
  }
  
.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.dashboard-title {
    font-size: 1.875rem;
    font-weight: bold;
}

.dashboard-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.metric-card {
    padding: 1rem;
}

.metric-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
}

.metric-value {
    font-size: 1.5rem;
    font-weight: bold;
}

.metric-subtext {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.module-analytics-container {
padding: 2rem;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    .title-badge {
    display: flex;
    gap: 1rem;
    align-items: center;

    h1 {
        font-size: 2rem;
        font-weight: bold;
    }

    .custom-badge {
        border: 1px solid green;
        color: green;
        padding: 4px 8px;
        border-radius: 4px;
    }
    }

    .module-select {
    width: 180px;
    }
}

.cards-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);

    .stat-card {
    padding: 1rem;

    .stat-header {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
    }

    .stat-content {
        font-size: 1.5rem;
        font-weight: bold;

        p {
        font-size: 0.8rem;
        color: gray;
        }
    }
    }
}

.chart-card {
    margin-top: 2rem;
}

.low-attendance-table {
    margin-top: 2rem;

    .pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    }
}
}
  