<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Responsive Sidebar Menu</title>
        <!-- Linking Google Font link for icons-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="labSchedules.component.scss">
    </head>
    <body>
        <h2 style="text-align: center; margin-bottom: 10px;">Lab Rooms</h2>
        <h3 style="margin-bottom: -10px;">Hardware Labs</h3>
        <ul class="links">
            <li *ngFor="let labRoom of labs.hardware">
                <div class="permissions-container">
                  <a (click)="navigateToLabSchedule(labRoom.name)"><span class="title">{{ labRoom.name }}</span></a>
    
                </div>
        </ul>
        <h3 style="margin-bottom: -10px;">Software Labs</h3>
        <ul class="links">
            <li *ngFor="let labRoom of labs.software">
                <div class="permissions-container">
                  <a (click)="navigateToLabSchedule(labRoom.name)"><span class="title">{{ labRoom.name }}</span></a>
    
                </div>
        </ul>
    </body>
</html>