<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Responsive Sidebar Menu</title>
        <!-- Linking Google Font link for icons-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="profile.component.scss">
    </head>
        <body>
            <div>
                <h2 style="text-align: center; margin-bottom: -10px;">Profile</h2>
                <h3 style="color: red;">*Change only the details intended and leave the others untouched</h3>
                <div class="popup-box">
                    <form [formGroup]="profileForm" class="form">
                        <label for="name">
                            Name:
                            <input type="name" [value]="original_name" [(ngModel)]="form_name" formControlName="name" name="name" />
                        </label>
                        <label for="email">
                            Email:
                            <input type="email" [value]="original_email" [(ngModel)]="form_email" formControlName="email" name="email" />
                        </label>
                        <label for="oldPassword">
                            Old Password:
                            <input type="password" formControlName="oldPassword" name="oldPassword" />
                        </label>

                        <label for="newPassword">
                            New Password:
                            <input
                            id="newPassword"
                            type="password"
                            formControlName="newPassword"
                            name="newPassword"
                            (input)="checkPasswordStrength(profileForm.get('newPassword')?.value ?? '')"/>
                        </label>
                          
                          <!-- Password Strength -->
                          <label style="text-align: center;">Password Strength: {{ passwordStrength }}</label>
                      
                          <!-- Synchronous Validation Errors -->
                          <div *ngIf="profileForm.get('newPassword')?.errors">
                            <!--<p *ngIf="profileForm.get('newPassword')?.hasError('required')" class="error-message">
                              Password is required.
                            </p> -->
                            <p *ngIf="profileForm.get('newPassword')?.hasError('minlength')" class="error-message">
                              Password must be at least 8 characters.
                            </p>
                          </div>
                      
                          <!-- Async Validation Errors -->
                          <div *ngIf="profileForm.get('newPassword')?.pending">Checking password...</div>
                          <div *ngIf="profileForm.get('newPassword')?.errors?.['needsUppercase']" class="error-message">
                            Password must include at least one uppercase letter.
                          </div>
                          <div *ngIf="profileForm.get('newPassword')?.errors?.['needsNumber']" class="error-message">
                            Password must include at least one number.
                          </div>
                
                          <label for="confirmPassword">
                            Confirm Password:
                            <input id="confirmPassword" type="password" formControlName="confirmPassword" name="confirmPassword"/>
                          </label>
                          
                          <div *ngIf="profileForm.hasError('mismatch') && profileForm.touched" class="error-message">
                            Passwords do not match.
                          </div>

                        <span>
                            <div class="item">
                              <button type="button" (click)="saveDetails()" class="collapsible" [disabled]="saving">
                                <span *ngIf="!saving">Save Details</span>
                                <span *ngIf="saving">
                                  Saving...</span>
                              </button>
                            </div>
                        </span>

                        <span *ngIf="successMessage" class="success-message">
                          {{ successMessage }}
                        </span>
                        <span *ngIf="name_email_error" class="error-message">
                          {{ name_email_error }}
                        </span>
                        <span *ngIf="password_error" class="error-message">
                          {{ password_error }}
                        </span>
                    </form>
                </div>
            </div>
        </body>
</html>