<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Responsive Sidebar Menu</title>
        <!-- Linking Google Font link for icons-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="students.component.scss">
    </head>
    <body>
      <div>
        <h2 style="text-align: center; margin-bottom: 10px; align-content: center;">All Students Details</h2>
        <div class="searchContainer">
          <input 
            type="text" 
            (input)="onSearchInput($event)" 
            placeholder="Search students..."
            class="searchBox"
          />
        </div>
          <div class="student-list">
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Student ID</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of studentsToDisplay">
                  <td>{{ student.fullName }}</td>
                  <td>{{ student.Student_ID }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="pagination">
            <button
              [disabled]="currentPage === 0"
              (click)="onPageChange(currentPage - 1)"
            >
              Previous
            </button>
            
            <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
            
            <button
              [disabled]="currentPage + 1 >= totalPages"
              (click)="onPageChange(currentPage + 1)"
            >
              Next
            </button>
          </div>
      </div>
                  
    </body>
</html>