body {
    margin-left: 10%;
    //height: 100vh; /* Ensure the body spans the full height of the viewport */
    display: flex; /* Use Flexbox to align items */
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
}

.student-list {
    margin: 20px;
    font-size: 15px;
}
  
table {
    width: 100%;
    border-collapse: separate;
    //border-radius: 2px;
    border-spacing: 0 10px;
}

.oval-row {
    background-color: #e6f7ff;
    border-radius: 25px; 
    overflow: hidden; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: table-row; 
    margin-bottom: 17px;
}
  
.oval-row td {
    border: none;
    font-size: 17px;
}
  
th, td {
    font-size: 16px;
    padding: 14px 60px;
    text-align: left;
    border-bottom: 2px solid #3498db;
}

.pagination {
    display: flex;
    justify-content: center; /* Center-align the elements horizontally */
    align-items: center; /* Vertically align items in the center */
    gap: 10px; /* Add spacing between elements */
    margin: 20px; /* Add spacing above the pagination controls */
}
  
.pagination button {
    background-color: #3498db;
    color: #fff;
    margin: 0px 5px;
    border-radius: 20px;
    border: none;
    padding: 5px 10px; /* Add padding to buttons for better UX */
    font-size: 14px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #2980b9;
}

.searchContainer {
    justify-content: center;
    justify-self: center;
    flex-grow: 1; 
    display: flex;
  }

  .searchBox {
    //width: 250px;
    font-size: 16px;
    width: 80%; 
    padding: 8px 12px;
  }

  .content {
    display: flex;
    flex-direction: row;
  }

  button{
    display: inline-flex;
    background-color: #3498db;
    color: #fff;
    margin: 0px 5px;
    border: none;
    padding: 10px 12px; 
    font-size: 14px;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: #444 solid;
  }
  
  button:hover {
    background-color: #2980b9;
  }