<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Responsive Sidebar Menu</title>
        <!-- Linking Google Font link for icons-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="classGroups.component.scss">
    </head>
    <body>
        <h2 style="text-align: center; margin-bottom: 10px;" *ngIf="courseId">Lab Groups ({{courseId}})</h2>
        <button mat-raised-button (click)="openCreateLabSession()"> 
            <span class="material-symbols-outlined">
              experiment </span>
            Create New Lab Session </button>  
        <ul class="links">
            <li *ngFor="let classGroup of classGroups">
                <div class="permissions-container">
                  <a (click)="navigateToLabSessions(classGroup.classGroupId.classGroupID)"><span class="title">{{ classGroup.classGroupId.classGroupID }}</span></a>    
                </div>
        </ul>
    </body>
</html>