<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Responsive Sidebar Menu</title>
        <!-- Linking Google Font link for icons-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="courses.component.scss">
    </head>
    <body>
      <h2 style="text-align: center; margin-bottom: 10px;">Courses</h2>
      <div style="display: flex; flex-direction: row;">
        <button mat-raised-button (click)="openAddNewModules()"> 
          <span class="material-symbols-outlined">
            school </span>
          Add New Module </button> 
        <button mat-raised-button (click)="openCreateLabSession()" *ngIf="semesterCourses.length>0"> 
          <span class="material-symbols-outlined">
            experiment </span>
          Create New Lab Session </button>  
      </div>
      
        <ul class="links">
            <li *ngFor="let course of semesterCourses">                
                <div class="permissions-container">
                  <a (click)="navigateToLabGroups(course)"><span class="title">{{ course }}</span></a>
    
                  <!--<label class="container" *ngFor="let course of semesterCourses">
                    {{ action }}
                  </label>-->
    
                </div>
        </ul>
    </body>
</html>