<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Responsive Sidebar Menu</title>
        <!-- Linking Google Font link for icons-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="labSessionDetails.component.scss">
    </head>
    <body>
      <h2 style="text-align: center; margin-bottom: 10px;">Lab Session Details</h2>
      <div style="display: flex; flex-direction: row; align-items: flex-start; justify-content: space-between; width: 100%;">
        <div class="lab_info" *ngIf="labSessions.length>0">
          <h3>Module: <span style="color: blue;">{{ labSessions[0].classGroupID.moduleCode }}</span></h3>
          <h3>Lab Group: <span style="color: blue;">{{ labSessions[0].classGroupID.classGroupID }}</span></h3>
          <h3>Lab Session Venue: <span style="color: blue;">{{ labSessions[0].lab.id.labName }}</span></h3>
          <h3>Room: <span style="color: blue;">{{ labSessions[0].lab.id.room }}</span></h3>      
          <h3>Time: <span style="color: blue;" id="labSessionTime">{{ labSessions[0].startTime | customTimePipe}} - {{ labSessions[0].endTime | customTimePipe}}</span></h3>
          <h3>Date:</h3> 
          <div class="dropdown">
            <select id="role" name="date" [(ngModel)]="selectedDate"
              (change)="onDateChange($event)">
              <option value="" disabled style="background-color: gray">Select available date</option>
              <option *ngFor="let item of dates" [value]="item">{{ item | date: 'dd/MM/yyyy'}}</option>
            </select>
          </div>
          <button mat-raised-button class="deleteLabSession_button" id="deleteLabSessionButton" (click)="deleteLabSession(selectedDate)"> 
            Delete Lab Session</button>          
        </div>
        <div style="display: flex; flex-direction: column; gap: 6px;">
          <button mat-raised-button style="margin-top: auto;" (click)="addStudentToLabGroup()">         
            <span class="material-symbols-outlined">
              person_add </span>
              <span style="margin-top: 4px;">Add Student To Lab Group</span>
          </button>
          <button mat-raised-button style="margin-top: auto; display: none;" id="addStudentToLabSession" (click)="addStudentToLabSession()">         
            <span class="material-symbols-outlined">
              person_add </span>
              <span style="margin-top: 4px;">Add Student To This Lab Session</span>
          </button>
        </div>
      </div>
      <div class="slider-container">
        <button
          [class.active]="currentView === 'general'"
          (click)="switchView('general')">
          General Student Details
        </button>
        <button
          [class.active]="currentView === 'specific'"
          (click)="switchView('specific')">
          Specific Attendance Details
        </button>
        <div class="slider" [class.general]="currentView === 'general'" [class.specific]="currentView === 'specific'"></div>
      </div>

      <div *ngIf="currentView === 'general'">
        <div class="attendance-list">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Student ID</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let attendance of attendancesToDisplay" class="oval-row">
                <td>{{ attendance.student.fullName }}</td>
                <td>{{ attendance.student.Student_ID }}</td>
                <td>
                  <button mat-raised-button class="deleteStudentButton" (click)="deleteStudentFromClassGroup(attendance.student.Student_ID)"> 
                    <span class="material-symbols-outlined">
                      delete </span>
                    </button> 
                </td>   
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div *ngIf="currentView === 'specific'">
        <div class="attendance-list">
              <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Student ID</th>
                    <th>Status</th>
                    <th>Remarks</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let attendance of attendancesToDisplay" class="oval-row">
                    <td>{{ attendance.student.fullName }}</td>
                    <td>{{ attendance.student.Student_ID }}</td>
                    <td>
                      <div style="display: flex; flex-direction: row;">
                        <div class="dropdown" style="margin-left: -10px; margin-top: 6px;">
                          <select id="role" name="date" [(ngModel)]="attendance.status"
                            (change)="onStatusChange(attendance.status, attendance.student.Student_ID)">
                            <option value="" disabled style="background-color: gray">Select available date</option>
                            <option value="Pending">Pending</option>
                            <option value="Present">Present</option>
                            <option value="Late">Late</option>
                            <option value="Excused">Excused</option>
                            <option value="Absent">Absent</option>
                            <option value="Withdrawn">Withdrawn</option>
                          </select>                      
                        </div>
                        <button mat-raised-button class="submitChangeButton" [id]="'submitChangeButton_' + attendance.student.Student_ID" (click)="submitStatusChange(attendance.student.Student_ID, attendance.attendance_ID)"> 
                          Submit <br> Changes</button>
                      </div>                                        
                    </td>                                                        
                  <td>
                    <button mat-raised-button (click)="openRemarksDialog(attendance.student.fullName, attendance.remarks, attendance.attendance_ID)"> 
                      Click To <br> View Remarks </button> 
                  </td>                                         
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </body>
</html>